@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #F3F4F6;
    color: #111827;
  }
}

.font-poller {
  font-family: var(--font-poller), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

/* Custom Styles untuk Swiper Pagination & Navigation */
.category-swiper .swiper-pagination {
  position: relative !important;
  bottom: auto !important;
  margin-top: 2rem !important;
}

.swiper-pagination-bullet-active {
  background-color: #DC2626 !important;
}

.category-swiper .swiper-button-next,
.category-swiper .swiper-button-prev {
  color: #DC2626 !important;
}
